.cask/
ac-comphist.dat
auto-save-list/ 
projectile.cache 
projectile-bookmarks.eld 
recentf 
\#*
*\#*
ac-comphist.dat
.cask/*
projectile-bookmarks.eld
auto-save-list/
projectile.cache
async-bytecomp.log
